# Ignore les dossiers qui ne contiennent que des documents
documentation/
exemples/
instructions/

# Ignore le fichier qui contient les remarques
Remarques.md

# Ignore les dossiers spécifiques à vscode
.vscode/
out/