# Ignore les dossiers qui ne contiennent que des documents
documentation/
exemples/
instructions/

# Ignore le rapport et le fichier qui contient les remarques
Remarques.md
*.docx
*rapport*
assets/

# Ignore les dossiers spécifiques à vscode
.vscode/
out/